/SkylexDeliveryManager/projectDb.mv.db
/SkylexDeliveryManager/target/classes/repository/RepositoryBase.class
/SkylexDeliveryManager/target/SkylexDeliveryManager-1.0-SNAPSHOT.jar
/SkylexDeliveryManager/target/surefire-reports/controller.SampleControllerTest.txt
/SkylexDeliveryManager/target/surefire-reports/data.DbContextTest.txt
/SkylexDeliveryManager/target/surefire-reports/data.SampleTest.txt
/SkylexDeliveryManager/target/surefire-reports/logic.LogicTest.txt
/SkylexDeliveryManager/target/surefire-reports/TEST-controller.SampleControllerTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-data.DbContextTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-data.SampleTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-logic.LogicTest.xml
/SkylexDeliveryManager/target/surefire-reports/MainTest.txt
/SkylexDeliveryManager/target/classes/common/logging/LogFormatter.class
/SkylexDeliveryManager/target/classes/common/logging/LoggingContext.class
/SkylexDeliveryManager/target/surefire-reports/TEST-MainTest.xml
/SkylexDeliveryManager/target/test-classes/MainTest.class
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/SkylexDeliveryManager/target/classes/controller/SampleController.class
/SkylexDeliveryManager/target/classes/data/DbContext.class
/SkylexDeliveryManager/target/classes/Main.class
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/SkylexDeliveryManager/testDb.mv.db
/SkylexDeliveryManager/testDb.trace.db
/SkylexDeliveryManager/target/classes/repository/IRepositoryBase.class
/SkylexDeliveryManager/target/classes/common/DbContextSettings.class
/SkylexDeliveryManager/target/classes/common/DbContextSettings.class
/SkylexDeliveryManager/target/classes/common/DbContextSettings.class
/SkylexDeliveryManager/target/classes/common/DbContextSettings.class
/SkylexDeliveryManager/target/classes/common/sql/SqlConstants.class
/SkylexDeliveryManager/target/classes/controller/SampleController.class
/SkylexDeliveryManager/target/classes/data/DbContext.class
/SkylexDeliveryManager/target/classes/data/Driver.class
/SkylexDeliveryManager/target/classes/data/Sample.class
/SkylexDeliveryManager/target/classes/logic/Logic.class
/SkylexDeliveryManager/target/classes/repository/DriverRepository.class
/SkylexDeliveryManager/target/classes/repository/IDriverRepository.class
/SkylexDeliveryManager/target/classes/repository/IRepositoryBase.class
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/SkylexDeliveryManager/target/surefire-reports/helpers.TestSession.txt
/SkylexDeliveryManager/target/surefire-reports/repository.DriverRepositoryTest.txt
/SkylexDeliveryManager/target/surefire-reports/repository.RepositoryBaseTest.txt
/SkylexDeliveryManager/target/surefire-reports/TEST-helpers.TestSession.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-repository.DriverRepositoryTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-repository.RepositoryBaseTest.xml
/SkylexDeliveryManager/target/test-classes/controller/SampleControllerTest.class
/SkylexDeliveryManager/target/test-classes/data/SampleTest.class
/SkylexDeliveryManager/target/test-classes/logic/LogicTest.class
/SkylexDeliveryManager/target/test-classes/repository/DriverRepositoryTest.class
/SkylexDeliveryManager/target/test-classes/repository/RepositoryBaseTest.class
/SkylexDeliveryManager/target/classes/common/DbContextSettings.class
/SkylexDeliveryManager/target/classes/controller/SampleController.class
/SkylexDeliveryManager/target/classes/data/DbContext.class
/SkylexDeliveryManager/target/classes/data/Sample.class
/SkylexDeliveryManager/target/classes/logic/Logic.class
/SkylexDeliveryManager/target/classes/repository/IRepositoryBase.class
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/SkylexDeliveryManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/SkylexDeliveryManager/target/test-classes/controller/SampleControllerTest.class
/SkylexDeliveryManager/target/test-classes/data/SampleTest.class
/SkylexDeliveryManager/target/test-classes/logic/LogicTest.class
