/SkylexDeliveryManager/projectDb.mv.db
/SkylexDeliveryManager/target/classes/repository/RepositoryBase.class
/SkylexDeliveryManager/target/SkylexDeliveryManager-1.0-SNAPSHOT.jar
/SkylexDeliveryManager/target/surefire-reports/controller.SampleControllerTest.txt
/SkylexDeliveryManager/target/surefire-reports/data.DbContextTest.txt
/SkylexDeliveryManager/target/surefire-reports/data.SampleTest.txt
/SkylexDeliveryManager/target/surefire-reports/logic.LogicTest.txt
/SkylexDeliveryManager/target/surefire-reports/TEST-controller.SampleControllerTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-data.DbContextTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-data.SampleTest.xml
/SkylexDeliveryManager/target/surefire-reports/TEST-logic.LogicTest.xml
